In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_excel("/content/Task_Data.xlsx")
df

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19,Ste. Anne,Man.,Defence,34,5.500000,66,22
1,16,Women,Canada,Brigette,Lacquette,180.0,5'6,1992-10-11,Mallard,Man.,Defence,29,5.500000,66,29
2,17,Women,Canada,Lauriane,Rougeau,167.0,5'8,1990-04-12,Beaconsfield,Que.,Defence,32,5.666667,68,25
3,18,Women,Canada,Laura,Fortino,137.0,5'4,1991-01-30,Hamilton,Ont.,Defence,31,5.333333,64,24
4,19,Women,Canada,Meaghan,Mikkelson,139.0,5'9,1985-01-04,St. Albert,Alta.,Defence,37,5.750000,69,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03,Delafield,Wis.,Goalie,30,5.583333,67,23
92,69,Women,USA,Maddie,Rooney,NaN,5'5,1997-07-07,Andover,Minn.,Goalie,25,5.416667,65,0
93,84,Men,USA,David,Leggio,185.0,6'0,1984-07-31,Buffalo,N.Y.,Goalie,37,6.000000,72,25
94,86,Men,USA,Brandon,Maxwell,196.0,6'1,1991-03-22,Winter Park,Fla.,Goalie,31,6.083333,73,26
95,96,Men,USA,Ryan,Zapolski,203.0,6'0,1986-11-11,Erie,Pa.,Goalie,35,6.000000,72,28

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        96 non-null     int64
 1   Team      96 non-null     object
 2   Country   96 non-null     object
 3   NameF     96 non-null     object
 4   NameL     96 non-null     object
 5   Weight    91 non-null     float64
 6   Height    96 non-null     object
 7   DOB       90 non-null     datetime64[ns]
 8   Hometown  96 non-null     object
 9   Prov      96 non-null     object
 10  Pos       96 non-null     object
 11  Age       96 non-null     int64
 12  HeightFt  96 non-null     float64
 13  HtIn      96 non-null     int64
 14  BMI       96 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(8)
memory usage: 11.4+ KB

In [ ]:
df.dropna(subset=['Weight'])

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19,Ste. Anne,Man.,Defence,34,5.500000,66,22
1,16,Women,Canada,Brigette,Lacquette,180.0,5'6,1992-10-11,Mallard,Man.,Defence,29,5.500000,66,29
2,17,Women,Canada,Lauriane,Rougeau,167.0,5'8,1990-04-12,Beaconsfield,Que.,Defence,32,5.666667,68,25
3,18,Women,Canada,Laura,Fortino,137.0,5'4,1991-01-30,Hamilton,Ont.,Defence,31,5.333333,64,24
4,19,Women,Canada,Meaghan,Mikkelson,139.0,5'9,1985-01-04,St. Albert,Alta.,Defence,37,5.750000,69,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,57,Women,USA,Nicole,Hensley,155.0,5'7,1994-06-23,Lakewood,Colo.,Goalie,28,5.583333,67,24
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03,Delafield,Wis.,Goalie,30,5.583333,67,23
93,84,Men,USA,David,Leggio,185.0,6'0,1984-07-31,Buffalo,N.Y.,Goalie,37,6.000000,72,25
94,86,Men,USA,Brandon,Maxwell,196.0,6'1,1991-03-22,Winter Park,Fla.,Goalie,31,6.083333,73,26
95,96,Men,USA,Ryan,Zapolski,203.0,6'0,1986-11-11,Erie,Pa.,Goalie,35,6.000000,72,28

In [ ]:
df["DOB"]=df["DOB"].fillna(value="na")

In [ ]:
df.Pos.unique()

array(['Defence', 'Forward', 'Goalie'], dtype=object)

In [ ]:
grouping1=df.groupby('Pos')
grouping1.first()

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Age,HeightFt,HtIn,BMI
Pos,,,,,,,,,,,,,,
Defence,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19,Ste. Anne,Man.,34,5.500000,66,22
Forward,1,Women,Canada,Meghan,Agosta,148.0,5'7,1987-02-12,Ruthven,Ont.,35,5.583333,67,23
Goalie,21,Women,Canada,Shannon,Szabados,146.0,5'8,1986-08-06,Edmonton,Alta.,35,5.666667,68,22

In [ ]:
grouping2=df.groupby('Team')
women=grouping2.get_group('Women')
men=grouping2.get_group('Men')

In [ ]:
women

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,15,Women,Canada,Jocelyne,Larocque,139.0,5'6,1988-05-19 00:00:00,Ste. Anne,Man.,Defence,34,5.500000,66,22
1,16,Women,Canada,Brigette,Lacquette,180.0,5'6,1992-10-11 00:00:00,Mallard,Man.,Defence,29,5.500000,66,29
2,17,Women,Canada,Lauriane,Rougeau,167.0,5'8,1990-04-12 00:00:00,Beaconsfield,Que.,Defence,32,5.666667,68,25
3,18,Women,Canada,Laura,Fortino,137.0,5'4,1991-01-30 00:00:00,Hamilton,Ont.,Defence,31,5.333333,64,24
4,19,Women,Canada,Meaghan,Mikkelson,139.0,5'9,1985-01-04 00:00:00,St. Albert,Alta.,Defence,37,5.750000,69,21
5,20,Women,Canada,Renata,Fast,144.0,5'6,1994-10-06 00:00:00,Burlington,Ont.,Defence,27,5.500000,66,23
14,49,Women,USA,Cayla,Barnes,145.0,5'1,1999-01-07 00:00:00,Eastvale,Calif.,Defence,23,5.083333,61,27
15,50,Women,USA,Kacey,Bellamy,145.0,5'7,1987-04-22 00:00:00,Westfield,Mass.,Defence,35,5.583333,67,23
16,56,Women,USA,Kali,Flanagan,142.0,5'4,1995-09-19 00:00:00,Burlington,Mass.,Defence,26,5.333333,64,24
17,58,Women,USA,Megan,Keller,160.0,5'11,1996-05-01 00:00:00,Farmington,Mich.,Defence,26,5.916667,71,22
18,64,Women,USA,Sidney,Morin,140.0,5'5,na,Minnetonka,Minn.,Defence,122,5.416667,65,23
20,71,Women,USA,Lee,Stecklein,175.0,6'0,na,Roseville,Minn.,Defence,122,6.000000,72,24
29,1,Women,Canada,Meghan,Agosta,148.0,5'7,1987-02-12 00:00:00,Ruthven,Ont.,Forward,35,5.583333,67,23
30,2,Women,Canada,Rebecca,Johnston,148.0,5'9,1989-09-24 00:00:00,Sudbury,Ont.,Forward,32,5.750000,69,22
31,3,Women,Canada,Laura,Stacey,156.0,5'10,1994-05-05 00:00:00,Kleinburg,Ont.,Forward,28,5.833333,70,22
32,4,Women,Canada,Jennifer,Wakefield,172.0,5'10,1989-06-15 00:00:00,Pickering,Ont.,Forward,33,5.833333,70,25
33,5,Women,Canada,Jillian,Saulnier,144.0,5'5,1992-03-07 00:00:00,Halifax,N.S.,Forward,30,5.416667,65,24
34,6,Women,Canada,Mélodie,Daoust,159.0,5'6,1992-01-07 00:00:00,Valleyfield,Que.,Forward,30,5.500000,66,26
35,7,Women,Canada,Bailey,Bram,150.0,5'8,1990-09-05 00:00:00,St. Anne,Man.,Forward,31,5.666667,68,23
36,8,Women,Canada,Brianne,Jenner,156.0,5'9,1991-05-04 00:00:00,Oakville,Ont.,Forward,31,5.750000,69,23
37,9,Women,Canada,Sarah,Nurse,140.0,5'8,1995-01-04 00:00:00,Hamilton,Ont.,Forward,27,5.666667,68,21
38,10,Women,Canada,Haley,Irwin,170.0,5'7,1988-06-06 00:00:00,Thunder Bay,Ont.,Forward,34,5.583333,67,27
39,11,Women,Canada,Natalie,Spooner,180.0,5'10,1990-10-17 00:00:00,Scarborough,Ont.,Forward,31,5.833333,70,26
40,12,Women,Canada,Emily,Clark,130.0,5'7,1995-11-28 00:00:00,Saskatoon,Sask.,Forward,26,5.583333,67,20
41,13,Women,Canada,Marie-Philip,Poulin,160.0,5'7,1991-03-28 00:00:00,Beauceville,Que.,Forward,31,5.583333,67,25
42,14,Women,Canada,Blayre,Turnbull,155.0,5'7,1993-07-15 00:00:00,Stellarton,N.S.,Forward,29,5.583333,67,24
57,51,Women,USA,Hannah,Brandt,150.0,5'6,1993-11-27 00:00:00,Vadnais Heights,Minn.,Forward,28,5.500000,66,24
59,53,Women,USA,Kendall,Coyne,123.0,5'2,1992-05-25 00:00:00,Palos Heights,Ill.,Forward,30,5.166667,62,22
60,54,Women,USA,Brianna,Decker,150.0,5'4,1991-05-13 00:00:00,Dousman,Wis.,Forward,31,5.333333,64,26
62,59,Women,USA,Amanda,Kessel,136.0,5'5,na,Madison,Wis.,Forward,122,5.416667,65,23
63,60,Women,USA,Hilary,Knight,175.0,5'11,1989-07-12 00:00:00,Sun Valley,Idaho,Forward,33,5.916667,71,24
64,61,Women,USA,Jocelyne,Lamoureux-Davidson,150.0,5'6,1989-07-03 00:00:00,Grand Forks,N.D.,Forward,33,5.500000,66,24
65,62,Women,USA,Monique,Lamoureux-Morando,147.0,5'6,1989-07-03 00:00:00,Grand Forks,N.D.,Forward,33,5.500000,66,24
66,63,Women,USA,Gigi,Marvin,159.0,5'8,1987-03-07 00:00:00,Warroad,Minn.,Forward,35,5.666667,68,24
67,65,Women,USA,Kelly,Pannek,165.0,5'8,1995-12-29 00:00:00,Plymouth,Minn.,Forward,26,5.666667,68,25
68,66,Women,USA,Amanda,Pelkey,135.0,5'3,1993-05-29 00:00:00,Montpelier,Vt.,Forward,29,5.250000,63,24
69,70,Women,USA,Haley,Skarupa,140.0,5'6,1994-01-03 00:00:00,Rockville,Md.,Forward,28,5.500000,66,23
84,21,Women,Canada,Shannon,Szabados,146.0,5'8,1986-08-06 00:00:00,Edmonton,Alta.,Goalie,35,5.666667,68,22
85,22,Women,Canada,Geneviève,Lacasse,136.0,5'8,1989-05-05 00:00:00,Kingston,Ont.,Goalie,33,5.666667,68,21
86,23,Women,Canada,Ann-Renée,Desbiens,160.0,5'9,1994-04-10 00:00:00,La Malbaie,Que.,Goalie,28,5.750000,69,24
90,57,Women,USA,Nicole,Hensley,155.0,5'7,1994-06-23 00:00:00,Lakewood,Colo.,Goalie,28,5.583333,67,24
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03 00:00:00,Delafield,Wis.,Goalie,30,5.583333,67,23

In [ ]:
men

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
6,38,Men,Canada,Karl,Stollery,181.0,5'11,1987-11-21 00:00:00,Camrose,Alta.,Defence,34,5.916667,71,25
7,39,Men,Canada,Chris,Lee,187.0,6'0,1980-10-03 00:00:00,MacTier,Ont.,Defence,41,6.000000,72,25
8,40,Men,Canada,Chay,Genoway,170.0,5'9,1986-12-20 00:00:00,Morden,Man.,Defence,35,5.750000,69,25
9,41,Men,Canada,Marc-Andre,Gragnani,205.0,6'3,1987-03-11 00:00:00,L’Île-Bizard,Que.,Defence,35,6.250000,75,26
10,42,Men,Canada,Stefan,Elliott,190.0,6'1,1991-01-30 00:00:00,Vancouver,B.C.,Defence,31,6.083333,73,25
11,43,Men,Canada,Cody,Goloubef,200.0,6'1,1989-11-30 00:00:00,Oakville,Ont.,Defence,32,6.083333,73,26
12,44,Men,Canada,Mat,Robinson,185.0,5'10,1986-06-20 00:00:00,Calgary,Alta.,Defence,36,5.833333,70,27
13,45,Men,Canada,Maxim,Noreau,198.0,6'0,1987-05-24 00:00:00,Montreal,Que.,Defence,35,6.000000,72,27
22,74,Men,USA,Jonathan,Blum,195.0,6'1,1989-01-30 00:00:00,Ladera Ranch,Calif.,Defence,33,6.083333,73,26
23,75,Men,USA,Will,Borgen,195.0,6'2,1996-12-19 00:00:00,Moorhead,Minn.,Defence,25,6.166667,74,25
24,79,Men,USA,Matt,Gilroy,200.0,6'1,1984-07-20 00:00:00,Bellmore,N.Y.,Defence,38,6.083333,73,26
25,82,Men,USA,Ryan,Gunderson,170.0,5'9,1985-08-16 00:00:00,Bensalem,Pa.,Defence,36,5.750000,69,25
26,90,Men,USA,Bobby,Sanguinetti,190.0,6'2,1988-02-29 00:00:00,Wilmington,N.C.,Defence,34,6.166667,74,24
27,94,Men,USA,Noah,Welch,215.0,6'4,1982-08-26 00:00:00,Brighton,Mass.,Defence,39,6.333333,76,26
28,95,Men,USA,James,Wisniewski,205.0,6'0,1984-02-21 00:00:00,Canton,Mich.,Defence,38,6.000000,72,28
43,24,Men,Canada,Gilbert,Brulé,190.0,5'11,1987-01-01 00:00:00,Vancouver,B.C.,Forward,35,5.916667,71,26
44,25,Men,Canada,Wojtek,Wolski,220.0,6'3,1986-02-24 00:00:00,Toronto,Ont.,Forward,36,6.250000,75,27
45,26,Men,Canada,Derek,Roy,187.0,5'9,1983-05-04 00:00:00,Rockland,Ont.,Forward,39,5.750000,69,28
46,27,Men,Canada,Chris,Kelly,194.0,6'0,1980-11-11 00:00:00,Toronto,Ont.,Forward,41,6.000000,72,26
47,28,Men,Canada,Rob,Klinkhammer,214.0,6'3,1986-08-12 00:00:00,Lethbridge,Alta.,Forward,35,6.250000,75,27
48,29,Men,Canada,Brandon,Kozun,170.0,5'8,1990-03-08 00:00:00,Calgary,Alta.,Forward,32,5.666667,68,26
49,30,Men,Canada,Quinton,Howden,190.0,6'2,1992-01-21 00:00:00,Oakbank,Man.,Forward,30,6.166667,74,24
50,31,Men,Canada,René,Bourque,216.0,6'2,1981-12-10 00:00:00,Lac La Biche,Alta.,Forward,40,6.166667,74,28
51,32,Men,Canada,Andrew,Ebbett,176.0,5'9,1983-01-02 00:00:00,Vernon,B.C.,Forward,39,5.750000,69,26
52,33,Men,Canada,Mason,Raymond,179.0,6'1,1985-09-17 00:00:00,Cochrane,Alta.,Forward,36,6.083333,73,24
53,34,Men,Canada,Eric,O’Dell,201.0,6'1,1990-06-21 00:00:00,Ottawa,Ont.,Forward,32,6.083333,73,27
54,35,Men,Canada,Maxim,Lapierre,216.0,6'0,1985-03-29 00:00:00,Brossard,Que.,Forward,37,6.000000,72,29
55,36,Men,Canada,Linden,Vey,190.0,6'0,1991-07-17 00:00:00,Wakaw,Sask.,Forward,31,6.000000,72,26
56,37,Men,Canada,Christian,Thomas,174.0,5'9,1992-05-26 00:00:00,Toronto,Ont.,Forward,30,5.750000,69,26
70,72,Men,USA,Mark,Arcobello,170.0,5'8,1988-08-12 00:00:00,Milford,Conn.,Forward,33,5.666667,68,26
71,76,Men,USA,Chris,Bourque,180.0,5'8,1986-01-29 00:00:00,North Reading,Mass.,Forward,36,5.666667,68,27
72,77,Men,USA,Bobby,Butler,189.0,6'0,1987-04-26 00:00:00,Marlborough,Mass.,Forward,35,6.000000,72,26
73,78,Men,USA,Ryan,Donato,196.0,6'1,1996-04-09 00:00:00,Scituate,Mass.,Forward,26,6.083333,73,26
74,80,Men,USA,Brian,Gionta,175.0,5'7,1979-01-18 00:00:00,Rochester,N.Y.,Forward,43,5.583333,67,27
75,81,Men,USA,Jordan,Greenway,235.0,6'5,1997-02-16 00:00:00,Canton,N.Y.,Forward,25,6.416667,77,28
76,83,Men,USA,Chad,Kolarik,185.0,5'11,1986-01-26 00:00:00,Abington,Pa.,Forward,36,5.916667,71,26
77,85,Men,USA,Broc,Little,170.0,5'9,1988-03-24 00:00:00,Rindge,N.H.,Forward,34,5.750000,69,25
78,87,Men,USA,John,McCarthy,195.0,6'1,1986-08-09 00:00:00,Boston,Mass.,Forward,35,6.083333,73,26
79,88,Men,USA,Brian,O'Neill,174.0,5'9,1988-06-01 00:00:00,Yardley,Pa.,Forward,34,5.750000,69,26
80,89,Men,USA,Garrett,Roe,178.0,5'9,1988-02-22 00:00:00,Vienna,Va.,Forward,34,5.750000,69,26
81,91,Men,USA,Jim,Slater,200.0,6'0,1982-12-09 00:00:00,Lapeer,Mich.,Forward,39,6.000000,72,27
82,92,Men,USA,Ryan,Stoa,210.0,6'3,1987-04-13 00:00:00,Bloomington,Minn.,Forward,35,6.250000,75,26
83,93,Men,USA,Troy,Terry,179.0,6'0,1997-09-10 00:00:00,Highlands Ranch,Colo.,Forward,24,6.000000,72,24
87,46,Men,Canada,Ben,Scrivens,181.0,6'2,1986-09-11 00:00:00,Spruce Grove,Alta.,Goalie,35,6.166667,74,23
88,47,Men,Canada,Kevin,Poulin,205.0,6'2,1990-04-12 00:00:00,Montreal,Que.,Goalie,32,6.166667,74,26
89,48,Men,Canada,Justin,Peters,210.0,6'1,na,Blyth,Ont.,Goalie,122,6.083333,73,28
93,84,Men,USA,David,Leggio,185.0,6'0,1984-07-31 00:00:00,Buffalo,N.Y.,Goalie,37,6.000000,72,25
94,86,Men,USA,Brandon,Maxwell,196.0,6'1,1991-03-22 00:00:00,Winter Park,Fla.,Goalie,31,6.083333,73,26
95,96,Men,USA,Ryan,Zapolski,203.0,6'0,1986-11-11 00:00:00,Erie,Pa.,Goalie,35,6.000000,72,28

In [ ]:
#median height of male players
med_ht_men=men['Height'].median()

TypeError: ignored

In [ ]:
# mean weight of female players
mean_weight_women=women['Weight'].mean()
mean_weight_women

151.38095238095238

In [ ]:
table = pd.pivot_table(df, values=['Weight', 'Age'], index=['Team', 'Pos'], aggfunc={'Weight': np.mean,'Age': np.mean})
table

                     Age      Weight
Team  Pos
Men   Defence  34.800000  192.400000
      Forward  34.357143  191.178571
      Goalie   48.666667  196.666667
Women Defence  45.333333  151.083333
      Forward  34.240000  151.920000
      Goalie   30.800000  149.400000

In [ ]:
grouping3=men.groupby('Country')
canadian_men=grouping3.get_group('Canada')

In [ ]:
grouping4=women.groupby('Country')
american_women=grouping4.get_group('USA')

In [ ]:
canadian_men

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
6,38,Men,Canada,Karl,Stollery,181.0,5'11,1987-11-21 00:00:00,Camrose,Alta.,Defence,34,5.916667,71,25
7,39,Men,Canada,Chris,Lee,187.0,6'0,1980-10-03 00:00:00,MacTier,Ont.,Defence,41,6.000000,72,25
8,40,Men,Canada,Chay,Genoway,170.0,5'9,1986-12-20 00:00:00,Morden,Man.,Defence,35,5.750000,69,25
9,41,Men,Canada,Marc-Andre,Gragnani,205.0,6'3,1987-03-11 00:00:00,L’Île-Bizard,Que.,Defence,35,6.250000,75,26
10,42,Men,Canada,Stefan,Elliott,190.0,6'1,1991-01-30 00:00:00,Vancouver,B.C.,Defence,31,6.083333,73,25
11,43,Men,Canada,Cody,Goloubef,200.0,6'1,1989-11-30 00:00:00,Oakville,Ont.,Defence,32,6.083333,73,26
12,44,Men,Canada,Mat,Robinson,185.0,5'10,1986-06-20 00:00:00,Calgary,Alta.,Defence,36,5.833333,70,27
13,45,Men,Canada,Maxim,Noreau,198.0,6'0,1987-05-24 00:00:00,Montreal,Que.,Defence,35,6.000000,72,27
43,24,Men,Canada,Gilbert,Brulé,190.0,5'11,1987-01-01 00:00:00,Vancouver,B.C.,Forward,35,5.916667,71,26
44,25,Men,Canada,Wojtek,Wolski,220.0,6'3,1986-02-24 00:00:00,Toronto,Ont.,Forward,36,6.250000,75,27
45,26,Men,Canada,Derek,Roy,187.0,5'9,1983-05-04 00:00:00,Rockland,Ont.,Forward,39,5.750000,69,28
46,27,Men,Canada,Chris,Kelly,194.0,6'0,1980-11-11 00:00:00,Toronto,Ont.,Forward,41,6.000000,72,26
47,28,Men,Canada,Rob,Klinkhammer,214.0,6'3,1986-08-12 00:00:00,Lethbridge,Alta.,Forward,35,6.250000,75,27
48,29,Men,Canada,Brandon,Kozun,170.0,5'8,1990-03-08 00:00:00,Calgary,Alta.,Forward,32,5.666667,68,26
49,30,Men,Canada,Quinton,Howden,190.0,6'2,1992-01-21 00:00:00,Oakbank,Man.,Forward,30,6.166667,74,24
50,31,Men,Canada,René,Bourque,216.0,6'2,1981-12-10 00:00:00,Lac La Biche,Alta.,Forward,40,6.166667,74,28
51,32,Men,Canada,Andrew,Ebbett,176.0,5'9,1983-01-02 00:00:00,Vernon,B.C.,Forward,39,5.750000,69,26
52,33,Men,Canada,Mason,Raymond,179.0,6'1,1985-09-17 00:00:00,Cochrane,Alta.,Forward,36,6.083333,73,24
53,34,Men,Canada,Eric,O’Dell,201.0,6'1,1990-06-21 00:00:00,Ottawa,Ont.,Forward,32,6.083333,73,27
54,35,Men,Canada,Maxim,Lapierre,216.0,6'0,1985-03-29 00:00:00,Brossard,Que.,Forward,37,6.000000,72,29
55,36,Men,Canada,Linden,Vey,190.0,6'0,1991-07-17 00:00:00,Wakaw,Sask.,Forward,31,6.000000,72,26
56,37,Men,Canada,Christian,Thomas,174.0,5'9,1992-05-26 00:00:00,Toronto,Ont.,Forward,30,5.750000,69,26
87,46,Men,Canada,Ben,Scrivens,181.0,6'2,1986-09-11 00:00:00,Spruce Grove,Alta.,Goalie,35,6.166667,74,23
88,47,Men,Canada,Kevin,Poulin,205.0,6'2,1990-04-12 00:00:00,Montreal,Que.,Goalie,32,6.166667,74,26
89,48,Men,Canada,Justin,Peters,210.0,6'1,na,Blyth,Ont.,Goalie,122,6.083333,73,28

In [ ]:
american_women

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
14,49,Women,USA,Cayla,Barnes,145.0,5'1,1999-01-07 00:00:00,Eastvale,Calif.,Defence,23,5.083333,61,27
15,50,Women,USA,Kacey,Bellamy,145.0,5'7,1987-04-22 00:00:00,Westfield,Mass.,Defence,35,5.583333,67,23
16,56,Women,USA,Kali,Flanagan,142.0,5'4,1995-09-19 00:00:00,Burlington,Mass.,Defence,26,5.333333,64,24
17,58,Women,USA,Megan,Keller,160.0,5'11,1996-05-01 00:00:00,Farmington,Mich.,Defence,26,5.916667,71,22
18,64,Women,USA,Sidney,Morin,140.0,5'5,na,Minnetonka,Minn.,Defence,122,5.416667,65,23
20,71,Women,USA,Lee,Stecklein,175.0,6'0,na,Roseville,Minn.,Defence,122,6.000000,72,24
57,51,Women,USA,Hannah,Brandt,150.0,5'6,1993-11-27 00:00:00,Vadnais Heights,Minn.,Forward,28,5.500000,66,24
59,53,Women,USA,Kendall,Coyne,123.0,5'2,1992-05-25 00:00:00,Palos Heights,Ill.,Forward,30,5.166667,62,22
60,54,Women,USA,Brianna,Decker,150.0,5'4,1991-05-13 00:00:00,Dousman,Wis.,Forward,31,5.333333,64,26
62,59,Women,USA,Amanda,Kessel,136.0,5'5,na,Madison,Wis.,Forward,122,5.416667,65,23
63,60,Women,USA,Hilary,Knight,175.0,5'11,1989-07-12 00:00:00,Sun Valley,Idaho,Forward,33,5.916667,71,24
64,61,Women,USA,Jocelyne,Lamoureux-Davidson,150.0,5'6,1989-07-03 00:00:00,Grand Forks,N.D.,Forward,33,5.500000,66,24
65,62,Women,USA,Monique,Lamoureux-Morando,147.0,5'6,1989-07-03 00:00:00,Grand Forks,N.D.,Forward,33,5.500000,66,24
66,63,Women,USA,Gigi,Marvin,159.0,5'8,1987-03-07 00:00:00,Warroad,Minn.,Forward,35,5.666667,68,24
67,65,Women,USA,Kelly,Pannek,165.0,5'8,1995-12-29 00:00:00,Plymouth,Minn.,Forward,26,5.666667,68,25
68,66,Women,USA,Amanda,Pelkey,135.0,5'3,1993-05-29 00:00:00,Montpelier,Vt.,Forward,29,5.250000,63,24
69,70,Women,USA,Haley,Skarupa,140.0,5'6,1994-01-03 00:00:00,Rockville,Md.,Forward,28,5.500000,66,23
90,57,Women,USA,Nicole,Hensley,155.0,5'7,1994-06-23 00:00:00,Lakewood,Colo.,Goalie,28,5.583333,67,24
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03 00:00:00,Delafield,Wis.,Goalie,30,5.583333,67,23

In [ ]:
result = pd.concat([canadian_men,american_women])
result

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
6,38,Men,Canada,Karl,Stollery,181.0,5'11,1987-11-21 00:00:00,Camrose,Alta.,Defence,34,5.916667,71,25
7,39,Men,Canada,Chris,Lee,187.0,6'0,1980-10-03 00:00:00,MacTier,Ont.,Defence,41,6.000000,72,25
8,40,Men,Canada,Chay,Genoway,170.0,5'9,1986-12-20 00:00:00,Morden,Man.,Defence,35,5.750000,69,25
9,41,Men,Canada,Marc-Andre,Gragnani,205.0,6'3,1987-03-11 00:00:00,L’Île-Bizard,Que.,Defence,35,6.250000,75,26
10,42,Men,Canada,Stefan,Elliott,190.0,6'1,1991-01-30 00:00:00,Vancouver,B.C.,Defence,31,6.083333,73,25
11,43,Men,Canada,Cody,Goloubef,200.0,6'1,1989-11-30 00:00:00,Oakville,Ont.,Defence,32,6.083333,73,26
12,44,Men,Canada,Mat,Robinson,185.0,5'10,1986-06-20 00:00:00,Calgary,Alta.,Defence,36,5.833333,70,27
13,45,Men,Canada,Maxim,Noreau,198.0,6'0,1987-05-24 00:00:00,Montreal,Que.,Defence,35,6.000000,72,27
43,24,Men,Canada,Gilbert,Brulé,190.0,5'11,1987-01-01 00:00:00,Vancouver,B.C.,Forward,35,5.916667,71,26
44,25,Men,Canada,Wojtek,Wolski,220.0,6'3,1986-02-24 00:00:00,Toronto,Ont.,Forward,36,6.250000,75,27
45,26,Men,Canada,Derek,Roy,187.0,5'9,1983-05-04 00:00:00,Rockland,Ont.,Forward,39,5.750000,69,28
46,27,Men,Canada,Chris,Kelly,194.0,6'0,1980-11-11 00:00:00,Toronto,Ont.,Forward,41,6.000000,72,26
47,28,Men,Canada,Rob,Klinkhammer,214.0,6'3,1986-08-12 00:00:00,Lethbridge,Alta.,Forward,35,6.250000,75,27
48,29,Men,Canada,Brandon,Kozun,170.0,5'8,1990-03-08 00:00:00,Calgary,Alta.,Forward,32,5.666667,68,26
49,30,Men,Canada,Quinton,Howden,190.0,6'2,1992-01-21 00:00:00,Oakbank,Man.,Forward,30,6.166667,74,24
50,31,Men,Canada,René,Bourque,216.0,6'2,1981-12-10 00:00:00,Lac La Biche,Alta.,Forward,40,6.166667,74,28
51,32,Men,Canada,Andrew,Ebbett,176.0,5'9,1983-01-02 00:00:00,Vernon,B.C.,Forward,39,5.750000,69,26
52,33,Men,Canada,Mason,Raymond,179.0,6'1,1985-09-17 00:00:00,Cochrane,Alta.,Forward,36,6.083333,73,24
53,34,Men,Canada,Eric,O’Dell,201.0,6'1,1990-06-21 00:00:00,Ottawa,Ont.,Forward,32,6.083333,73,27
54,35,Men,Canada,Maxim,Lapierre,216.0,6'0,1985-03-29 00:00:00,Brossard,Que.,Forward,37,6.000000,72,29
55,36,Men,Canada,Linden,Vey,190.0,6'0,1991-07-17 00:00:00,Wakaw,Sask.,Forward,31,6.000000,72,26
56,37,Men,Canada,Christian,Thomas,174.0,5'9,1992-05-26 00:00:00,Toronto,Ont.,Forward,30,5.750000,69,26
87,46,Men,Canada,Ben,Scrivens,181.0,6'2,1986-09-11 00:00:00,Spruce Grove,Alta.,Goalie,35,6.166667,74,23
88,47,Men,Canada,Kevin,Poulin,205.0,6'2,1990-04-12 00:00:00,Montreal,Que.,Goalie,32,6.166667,74,26
89,48,Men,Canada,Justin,Peters,210.0,6'1,na,Blyth,Ont.,Goalie,122,6.083333,73,28
14,49,Women,USA,Cayla,Barnes,145.0,5'1,1999-01-07 00:00:00,Eastvale,Calif.,Defence,23,5.083333,61,27
15,50,Women,USA,Kacey,Bellamy,145.0,5'7,1987-04-22 00:00:00,Westfield,Mass.,Defence,35,5.583333,67,23
16,56,Women,USA,Kali,Flanagan,142.0,5'4,1995-09-19 00:00:00,Burlington,Mass.,Defence,26,5.333333,64,24
17,58,Women,USA,Megan,Keller,160.0,5'11,1996-05-01 00:00:00,Farmington,Mich.,Defence,26,5.916667,71,22
18,64,Women,USA,Sidney,Morin,140.0,5'5,na,Minnetonka,Minn.,Defence,122,5.416667,65,23
20,71,Women,USA,Lee,Stecklein,175.0,6'0,na,Roseville,Minn.,Defence,122,6.000000,72,24
57,51,Women,USA,Hannah,Brandt,150.0,5'6,1993-11-27 00:00:00,Vadnais Heights,Minn.,Forward,28,5.500000,66,24
59,53,Women,USA,Kendall,Coyne,123.0,5'2,1992-05-25 00:00:00,Palos Heights,Ill.,Forward,30,5.166667,62,22
60,54,Women,USA,Brianna,Decker,150.0,5'4,1991-05-13 00:00:00,Dousman,Wis.,Forward,31,5.333333,64,26
62,59,Women,USA,Amanda,Kessel,136.0,5'5,na,Madison,Wis.,Forward,122,5.416667,65,23
63,60,Women,USA,Hilary,Knight,175.0,5'11,1989-07-12 00:00:00,Sun Valley,Idaho,Forward,33,5.916667,71,24
64,61,Women,USA,Jocelyne,Lamoureux-Davidson,150.0,5'6,1989-07-03 00:00:00,Grand Forks,N.D.,Forward,33,5.500000,66,24
65,62,Women,USA,Monique,Lamoureux-Morando,147.0,5'6,1989-07-03 00:00:00,Grand Forks,N.D.,Forward,33,5.500000,66,24
66,63,Women,USA,Gigi,Marvin,159.0,5'8,1987-03-07 00:00:00,Warroad,Minn.,Forward,35,5.666667,68,24
67,65,Women,USA,Kelly,Pannek,165.0,5'8,1995-12-29 00:00:00,Plymouth,Minn.,Forward,26,5.666667,68,25
68,66,Women,USA,Amanda,Pelkey,135.0,5'3,1993-05-29 00:00:00,Montpelier,Vt.,Forward,29,5.250000,63,24
69,70,Women,USA,Haley,Skarupa,140.0,5'6,1994-01-03 00:00:00,Rockville,Md.,Forward,28,5.500000,66,23
90,57,Women,USA,Nicole,Hensley,155.0,5'7,1994-06-23 00:00:00,Lakewood,Colo.,Goalie,28,5.583333,67,24
91,68,Women,USA,Alex,Rigsby,150.0,5'7,1992-01-03 00:00:00,Delafield,Wis.,Goalie,30,5.583333,67,23